@import "./reset.css";
:root {
  --borderColor: #dddddd;
}

/* body {
  height: 150vh;
} */

.home__top-banner {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
}
.home__top-banner-text {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
}
.home__top-banner-text:hover {
  cursor: pointer;
}

/* header */
header {
  height: 100px;
}
.home__header {
  padding: 20px 80px 40px 80px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.home__header-row {
  width: 100%;
  display: flex;
  align-items: center;
}
.header {
  padding: 0px 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
.experience__header {
  padding: 0px 50px;
}
.header-width {
  width: 33.3%;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-link-now {
  color: black;
  font-weight: 600;
}
.header-link-ex,
.header-link-online {
  padding: 15px;
  border-radius: 20px;
}

.logo__icon:hover {
  cursor: pointer;
}

.search-bar {
  width: 80%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--borderColor);
  box-shadow: 0px 2px 3px var(--borderColor);
  transition: all 0.1s;
}
.search-bar-select:first-child,
.search-bar-select:nth-child(2) {
  padding-right: 12px;
  border-right: 1px solid var(--borderColor);
}
.search-bar-select:nth-child(3) {
  opacity: 0.5;
}
.search-bar:hover {
  cursor: pointer;
  box-shadow: 0px 5px 7px var(--borderColor);
}
.search-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 50%;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}
.settings__host {
  padding: 16px;
  border-radius: 35px;
  transition: all 0.1s;
}
.settings__globe {
  padding: 16px;
  border-radius: 50%;
  transition: all 0.1s;
  margin-right: 10px;
}

.header-link-ex:hover,
.header-link-online:hover,
.settings__host:hover,
.settings__globe:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.setting__user {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--borderColor);
  transition: all 0.1s;
}
.setting__user:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px var(--borderColor);
}
