.online-logo {
  margin: 8px -8px 8px 50px;
}
.title-experience {
  max-width: 1700px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.title-experience .button-container {
  margin-right: 70px;
}
.title-experience .prev-button {
  pointer-events: none;
  opacity: 0.2;
}
.lhigh-button,
.rhigh-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.lhigh-button {
  margin-left: 2px;
}
.rhigh-button {
  margin-left: 5px;
}
.highlighted-text {
  font-size: 32px;
  font-weight: bold;
  margin-left: 50px;
  color: black;
}

.online-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column; /* 사진을 세로로 정렬 */
  align-items: flex-start; /* 가로 정렬 기준을 시작 부분에 맞춤 */
  margin-top: 10px;
  overflow-x: hidden;
}
.containerBox {
  display: flex;
  justify-content: space-between;
  max-width: 2500px;
  margin-bottom: 15px;
  margin-left: 50px;
  width: 2360px;
  height: 332px;
  position: relative;
  overflow: hidden;  
} 
.containerphoto {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 5px;
}
#imageSlider {
  transition: transform 0.4s ease-in-out;
}
.containerphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerphotoCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.PhotoCoverText1,
.PhotoCoverText2 {
  color: white;
}
.PhotoCoverText1 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.PhotoCoverText2 {
  font-size: 22px;
  font-weight: 600px;
  line-height: 1.2;
  margin-top: 5px;
}
.PhotoCoverButton1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  touch-action: manipulation;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}
.PhotoCoverButton1:hover {
  background-color: #dee2e6;
}
.host_title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 50px 70px 15px 50px;
  max-width: 1600px;
}
.bogi {
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  margin-right: 15px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.host-prev-button,
.host-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.host-prev-button {
  margin-left: 2px;
}
.host-next-button {
  margin-left: 5px;
}
.categories-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 10px;
}

.cate-container1,
.cate-container2 {
  display: flex;
  align-items: center;
  position: relative;
}

.online-category {
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
  font-size: 13.5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cate-container1 .online-category {
  border: 1px solid #ccc;
  background-color: white;
}
.cate-container2 .online-category {
  background-color: #f0f0f0;
}

.separator {
  margin-right: 10px;
  margin-left: 10px;
  content: "";
  border-left: 1px solid #ccc;
  height: 40px;
}
.move-up-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 96%;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.cate-container2 .online-category:last-child {
  opacity: 0.2;
}
.online-category:hover {
  border-color: #333;
  transition: border-color 0.3s ease;
}
#hostSlider{
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  flex-direction: row; 
   white-space: nowrap; 
}
.host-prev-button,
.host-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.host-prev-button{
  margin-left: 2px;
}
.host-next-button{
  margin-left: 5px;
}
.host_box {
  display: flex;
  max-width: 1600px;
  flex-wrap: nowrap;
  padding: 0 70px 0 50px;
  transition: transform 0.5s ease;
  overflow-x: hidden;
}

.host {
  flex: 0 0 calc(16.666% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  transition: transform 0.5s ease !important;
  box-sizing: border-box;
  overflow: hidden;
}


.host:nth-child(n) {
  display: block;
}

.host_box.transitioning {
  transition: transform 0.5s ease;
}
.host_img1 {
  background-image: url("../images/online_images/host1.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.host_img2 {
  background-image: url("../images/online_images/host2.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.host_img3 {
  background-image: url("../images/online_images/host3.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.host_img4 {
  background-image: url("../images/online_images/host4.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.host_img5 {
  background-image: url("../images/online_images/host5.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.host_img6 {
  background-image: url("../images/online_images/host6.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.wishlist-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 24px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.wishlist-button svg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: white;
  stroke-width: 2;
}
.info1 {
  margin: 7px 0;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
}
.info2 {
  font-size: 15px;
  font-weight: 350;
  color: black;
  overflow: hidden;
  white-space: normal;
}
.info3 {
  font-size: 16px;
  font-weight: 550;
  padding-top: 8px;
}
.best_title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 100px 70px 15px 50px;
  max-width: 1600px;
}
.best-prev-button,
.best-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.best-prev-button{
  margin-left: 2px;
}
.best-next-button{
  margin-left: 5px;
}
.best_host_box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  overflow-x: auto;
  padding: 0 70px 0 50px;
}

.best_host {
  position: relative;
  flex: 0 0 calc(16.666% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  display: none;
}

.best_host:last-child {
  margin-right: 0;
}

.best_host img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .best_host_box {
    flex-direction: column;
    align-items: center;
  }

  .best_host {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .best_host:nth-child(-n+6) {
    display: block;
  }
}

.best_img1 {
  background-image: url("../images/online_images/best_1.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.best_img2 {
  background-image: url("../images/online_images/best_2.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.best_img3 {
  background-image: url("../images/online_images/best_3.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.best_img4 {
  background-image: url("../images/online_images/best_4.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.best_img5 {
  background-image: url("../images/online_images/best_5.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.best_img6 {
  background-image: url("../images/online_images/best_6.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.time_title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 100px 70px 15px 50px;
  max-width: 1600px;
}
.time-prev-button,
.time-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.time-prev-button{
  margin-left: 2px;
}
.time-next-button{
  margin-left: 5px;
}
.six-time_box {
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 0 70px 0 50px;
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.time_box {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
}

.time_bogi {
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  margin-right: 15px;
}
.time_box .wishlist-button {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.time_box .wishlist-button svg {
  fill: white;
  stroke: black;
  stroke-width: 2;
  width: 20px;
  height: 20px;
}
.time_box img {
  max-width: 100%;
  max-height: 160px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.time_box .info {
  margin-left: 15px;
}
.time_info1 {
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 300px;
  padding-top: 15px;
}
.time_info2 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 350;
  color: black;
}
.time_info3 {
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
}
.time_box .time_button {
  background-color: white;
  color: black;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
}
.time_box .time_button::after {
  content: attr(data-time);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.organization_title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 100px 70px 15px 50px;
  max-width: 1600px;
}
.org-prev-button,
.org-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.org-prev-button{
  margin-left: 2px;
}
.org-next-button{
  margin-left: 5px;
}
.organization_host_box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  overflow-x: auto;
  padding: 0 70px 0 50px;
}

.organization_host {
  position: relative;
  flex: 0 0 calc(16.666% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  display: none;
}

.organization_host:last-child {
  margin-right: 0;
}

.organization_host img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .organization_host_box {
    flex-direction: column;
    align-items: center;
  }

  .organization_host {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .organization_host:nth-child(-n+6) {
    display: block;
  }
}

.organization_img1 {
  background-image: url("../images/online_images/organization_1.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_img2 {
  background-image: url("../images/online_images/organization_2.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_img3 {
  background-image: url("../images/online_images/organization_3.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_img4 {
  background-image: url("../images/online_images/organization_4.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_img5 {
  background-image: url("../images/online_images/organization_5.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_img6 {
  background-image: url("../images/online_images/organization_6.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.organization_info3 {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-weight: 550;
  padding-top: 5px;
  position: relative;
}
.organization_info3 span {
  position: relative;
  font-weight: 100;
}
.organization_info3 p {
  font-weight: lighter;
}
.organization_info3 span::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  width: 100%; 
  border-bottom: 2px solid;
  transform: translateX(-50%);
}
.view-all-button {
  background-color: transparent;
  color: #717171;
  border: none;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
.weekend_title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 100px 70px 15px 50px;
  max-width: 1600px;
}
#weekSlider {
  display: flex;
  transition: transform 0.5s ease;
}

.custom-prev-button,
.custom-next-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  border-radius: 50%;
}
.custom-prev-button{
  margin-left: 2px;
}
.custom-next-button{
  margin-left: 5px;
}
.weekend_host_box {
  flex-wrap: nowrap;
  overflow-x: hidden;
  max-width: 1600px;
  padding: 0 70px 0 50px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  overflow: hidden;
}

.weekend_host {
  position: relative;
  flex: 0 0 calc(16.666% - 10px);
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
  flex-direction: column;
  transition: transform 0.5s ease, margin-left 0.5s ease;
}

.weekend_host:nth-child(-n+6) {
  display: flex;
}
.weekend_host.show {
  display: flex;
}


.weekend_img1 {
  background-image: url("../images/online_images/weekend_1.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.weekend_img2 {
  background-image: url("../images/online_images/weekend_2.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.weekend_img3 {
  background-image: url("../images/online_images/weekend_3.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.weekend_img4 {
  background-image: url("../images/online_images/weekend_4.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.weekend_img5 {
  background-image: url("../images/online_images/weekend_5.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.weekend_img6 {
  background-image: url("../images/online_images/weekend_6.jpeg");
  height: 250px;
  background-size: 100% 100%;
  border-radius: 5%;
}
.more {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 70px;
}
.more-button {
  padding: 14px 24px;
  font-size: 16px;
  background-color: #222222;
  margin-bottom: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.more-button:hover {
  background-color: black;
}
