* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

html,
body {
  /* width: 100%;
  height: 100%; */
  font-family: 'Arial', sans-serif;
  height: 100vh;
  width: 100vw;
}

.a {
  height: 100vh;
  width: 100vw;
  display: block;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: center;
  background-color: blue;
}

.hello {
  width: 100%;
  height: 2084.59px;
  background-color: aqua;
}

/* 사이트 상단 "에어비앤비에서 사랑받고 있는~" 부분 배너 */
.page-top-banner {
    height: 60px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-decoration: underline;
}
/*배너 바로 아래 영역 - 검색창 바로 위*/
.bottom-banner-and-top-searchbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.airbnb-logo {
    width: 307px;
    height: 80px;
    float: left;
    padding: 0px 40px;
}
.new-page-go {
    width: 300px;
    height: 80px;
    padding: 24px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    justify-content: space-between;
}

.your-space-airbnb {
    width: 400px;
    height: 80px;
    align-items: center;
    line-height: 80px;
    float: right;
    display: flex;
}

.guesthouse,
.activity,
.on-line-activity {
    text-align: center;
}

.your-airbnb {
    display: flex;

}

.web-logo {
    margin-left: 20px;
    margin-right: 10px;
}

.login-button {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50px / 50px;
    border: 1px solid #e0e0e0;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-menu {
    margin-left: 8px;
}

.profile-area {
    margin-left: 10px;
}

/*------------------------------검색창 영역------------------------------------*/
.search-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.partition {
    flex: 0 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basic: 0px;
}

/* Full search bar space styles */
.full-searchbar-space {
    width: 800px;
    height: 60px;
    border-radius: 50px / 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.travel-spot,
.check-inorout,
.guest-select {
    flex: 1;

}

/* Travel spot styles */
.travel-spot {
    display: flex;
    align-items: center;
    min-width: 0;
}

.travel-spot-circle {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50px / 50px;
    background-color: #E6E6E6;
}

.travel-spot-search {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.travel-spot-naming {
    font-size: 12px;
    color: #555555;
}

.travel-spot-name-input {
    font-size: 16px;
    /* Add other input styles as needed */
}

/* Check-in, Check-out styles */
.check-inorout {
    display: flex;
    align-items: center;
}

.check-in-area,
.check-out-area {
    flex: 1;

}

.check-in-square,
.check-out-square {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50px / 50px;
    background-color: #E6E6E6;
    cursor: pointer;
}

.check-in-naming,
.check-out-naming {
    margin-left: 20px;
    font-size: 12px;
    color: #555555;
}

.in-date-add,
.out-date-add {
    margin-left: 20px;
    font-size: 12px;
    color: #888888;
}

/* Guest select styles */
.guest-select {
    display: flex;
    align-items: center;
}

.guest-select-and-search {
    flex: 1;
}

.guest-select-circle {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50px / 50px;
    background-color: #E6E6E6;
}

.guest-naming {
    margin-left: 20px;
    font-size: 12px;
    color: #555555;
}

.guest-add {
    margin-left: 20px;
    font-size: 12px;
    color: #888888;
}

.search-guest-button {
    background-color: #ff5a5f;
    color: #ffffff;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 5px;
    /* Add other button styles as needed */
}

/* Adjustments for responsiveness as needed */
@media (max-width: 768px) {
    /* Add responsive styles as needed */
}
/*---------------------------------------검색창 영역 끝---------------------------------------------------*/

.background {
  width: 100%;
  height: 2776px;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* background-color: grey; */
}

.review__background {
  width: 1120px;
  height: 1227px;
  padding: 48px 0px;
  display: block;
  justify-content: center;
  border-bottom: 1px solid #dddddd;
  /* background-color: yellow; */
}

.review__box {
  width: 1120px;
  height: 194px;
  margin: 16px 0px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.review__number__box {
  width: 352.25px;
  height: 120px;
  /* padding: 16px 0px 64px; */
  /* margin-top: 25px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crown__L {
  width: 84.97px; /* 이미지 컨테이너의 너비 */
  height: 120px; /* 이미지 컨테이너의 높이 */
  background-image: url("./images/crown-l.jpg"); /* 이미지 파일 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
  background-position: center; /* 이미지를 가운데 정렬 */
  /* margin-top: 45px; */
}

.review__score {
  width: 178.31px;
  height: 120px;
  font-size: 100px;
  margin-bottom: 20px;
  color: #33383b;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.crown__R {
  width: 84.96px; /* 이미지 컨테이너의 너비 */
  height: 120px; /* 이미지 컨테이너의 높이 */
  background-image: url("./images/crown-r.jpg"); /* 이미지 파일 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
  background-position: center; /* 이미지를 가운데 정렬 */
  margin-left: 10px;
}

.review__sub__1 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  padding: 0px 0px 2px;
}

.review__sub__2 {
  text-align: center;
  color: #717171;
  font-size: 18px;
}

.review__index {
  width: 1120px;
  height: 147px;
  margin: 0px 0px 40px;
  padding: 0px 0px 40px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  /* justify-content: ; */
  align-items: center;
}

.total__score {
  width: 170px;
  height: 106px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  /* align-items: center; */
  /* background-color: blue; */
}

.t__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-bottom: 8px;
}

.t__score__5 {
  width: 138px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.t__score__5__sub__1 {
  width: 6px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-right: 6px;
}

.t__score__5__sub__2 {
  width: 124px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 5px;
}

.t__score__5__sub__b {
  width: 114.08px;
  height: 100%;
  background-color: #222222;
  border-radius: 5px 0 0 5px;
}

.t__score__4 {
  width: 138px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.t__score__4__sub__1 {
  width: 6px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-right: 6px;
}

.t__score__4__sub__2 {
  width: 124px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 5px;
}

.t__score__4__sub__b {
  width: 9.91px;
  height: 100%;
  background-color: #222222;
  border-radius: 5px 0 0 5px;
}

.t__score__3 {
  width: 138px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.t__score__3__sub__1 {
  width: 6px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-right: 6px;
}

.t__score__3__sub__2 {
  width: 124px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 5px;
}

.t__score__2 {
  width: 138px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.t__score__2__sub__1 {
  width: 6px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-right: 6px;
}

.t__score__2__sub__2 {
  width: 124px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 5px;
}

.t__score__1 {
  width: 138px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.t__score__1__sub__1 {
  width: 6px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-right: 6px;
}

.t__score__1__sub__2 {
  width: 124px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 5px;
}

.clean__score {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.c__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.c__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.actu__score {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.a__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.a__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.check__in {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.ch__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.ch__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.comunication {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  text-align: left;
  /* align-items: center; */
}
.dum {
  width: 100%;
  height: 28px;
}

.co__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.co__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.loca__score {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  border-right: 1px solid #dddddd;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.l__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.l__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.price__score {
  width: 158.33px;
  height: 106px;
  padding: 0px 24px 4px;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.p__name {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.p__score {
  width: 100%;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__body {
  width: 1136px;
  height: 622px;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

span {
  margin: 0px 5px 0px 5px;
  color: #717171;
}

.review__1__box {
  width: 473.33px;
  height: 226px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: black; */
}

.review__1__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__1__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-1.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__1__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__1__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__1__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__1__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__1__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__1__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__1__box__footer {
  width: 439.41px;
  height: 104px;
  display: block;
  margin-top: 5px;
}

.review__1__box__desc {
  width: 439.41px;
  height: 72px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__1__box__more {
  width: 52px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-top: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.review__2__box {
  width: 473.33px;
  height: 226px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: black; */
}

.review__2__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__2__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-2.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__2__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__2__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__2__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__2__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__2__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__2__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__2__box__footer {
  width: 439.41px;
  height: 104px;
  display: block;
  margin-top: 5px;
}

.review__2__box__desc {
  width: 439.41px;
  height: 72px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__2__box__more {
  width: 52px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-top: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.review__3__box {
  width: 473.33px;
  height: 170px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: red; */
}

.review__3__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__3__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-1.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__3__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__3__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__3__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__3__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__3__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__3__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__3__box__footer {
  width: 439.41px;
  height: 45px;
  display: block;
  margin-top: 5px;
}

.review__3__box__desc {
  width: 439.41px;
  height: 45px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__4__box {
  width: 473.33px;
  height: 170px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: red; */
}

.review__4__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__4__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-1.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__4__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__4__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__4__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__4__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__4__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__4__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__4__box__footer {
  width: 439.41px;
  height: 45px;
  display: block;
  margin-top: 5px;
}

.review__4__box__desc {
  width: 439.41px;
  height: 45px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__5__box {
  width: 473.33px;
  height: 226px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: black; */
}

.review__5__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__5__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-5.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__5__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__5__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__5__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__5__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__5__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__5__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__5__box__footer {
  width: 439.41px;
  height: 104px;
  display: block;
  margin-top: 5px;
}

.review__5__box__desc {
  width: 439.41px;
  height: 72px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__6__box {
  width: 473.33px;
  height: 226px;
  padding: 0px 8px;
  margin: 0px 94.6562px 0px 0px;
  /* background-color: black; */
}

.review__6__box__header {
  width: 457.38;
  height: 48px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: gray; */
}

.review__6__box__jpg {
  width: 48px;
  height: 48px;
  background-image: url("./images/1-6.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  /* background-color: yellow; */
}

.review__6__box__header__desc {
  width: 150px;
  height: 48px;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.review__6__box__name {
  width: 104.33px;
  height: 20px;
  font-size: 16px;
  font-weight: 550;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: blue; */
}

.review__6__box__loca {
  width: 120.33px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  /* background-color: skyblue; */
}

.review__6__box__body {
  width: 457.33px;
  height: 18px;
  display: flex;
  align-items: center;
}

.review__6__box__body__svg {
  display: flex;
  justify-content: start;
}

.review__6__box__body__date {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__6__box__footer {
  width: 439.41px;
  height: 104px;
  display: block;
  margin-top: 5px;
}

.review__6__box__desc {
  width: 439.41px;
  height: 72px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.review__6__box__more {
  width: 52px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-top: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.review__footer {
  width: 1120px;
  height: 48px;
  /* background-color: red; */
}

.review__footer {
  width: 186.47px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 23px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  white-space: nowrap;
  border: solid #222222 1px;
  border-radius: 10px;
  cursor: pointer;
}

.review__footer:hover {
  background-color: #f5f5f5; /* 마우스를 올렸을 때의 배경색 (원하는 색상으로 변경 가능) */
}

.map__background {
  width: 1120px;
  height: 702px;
  padding: 48px 0px;
  border-bottom: 1px solid #dddddd;
  /* background-color: yellow; */
}

.map__header {
  width: 1120px;
  height: 50px;
  padding-bottom: 24px;
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.map__header__sub {
  width: 1120px;
  height: 20px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.map__jpg {
  width: 1120px;
  height: 480px;
  background-image: url("./images/map.png");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  cursor: pointer;
  /* cursor: url('your-custom-cursor.png'), auto; */
}

.host__background {
  width: 1120px;
  height: 533px;
  padding: 48px 0px;
  border-bottom: 1px solid #dddddd;
}
/* .host__background {
  width: 1120px;
  height: 437px;
  padding: 48px 0px;
} */

.host__header {
  width: 1120px;
  height: 64px;
  margin: 0px 0px 24px;
  display: flex;
  align-items: center;
}

.host__jpg {
  width: 64px;
  height: 64px;
  background-image: url("./images/2-1.webp");
  background-size: cover; /* 이미지 크기 조절 방법 설정 (cover, contain 등) */
  background-position: center; /* 이미지 위치 설정 (center, top, right 등) */
  border-radius: 50%;
  margin-right: 24px;
  cursor: pointer;
}

.host__desc__box {
  width: 240px;
  height: 64px;
  display: block;
  align-items: center;
}

.host__name {
  width: 236.67px;
  height: 26px;
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin: 8px 0px 8px 0px;
}

.host__sub {
  width: 240px;
  height: 18px;
  display: flex;
  align-items: center;
}

.host__date {
  width: 154.28px;
  height: 100%;
  white-space: nowrap;
  color: #717171;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.host__info {
  width: 72.98px;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.host__body__backgorund {
  width: 1136px;
  height: 349px;
  margin: 0px -8px;
}

.host__body {
  width: 473.33px;
  height: 349px;
  padding: 0px 8px;
}

.host__body__header {
  width: 481.33px;
  height: 33px;
  margin: 0px -12px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.host__body__text1__box {
  width: 130.59px;
  height: 21px;
  margin: 0px 0px 12px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.host__body__header__text1 {
  width: 78.59px;
  height: 20px;
  margin-left: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  white-space: nowrap;
}

.host__body__text2__box {
  width: 155.02px;
  height: 21px;
  margin: 0px 0px 12px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.host__body__header__text2 {
  width: 103.02px;
  height: 20px;
  margin-left: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  white-space: nowrap;
}

.host__body__text3__box {
  width: 132px;
  height: 21px;
  margin: 0px 0px 12px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.host__body__header__text3 {
  width: 80px;
  height: 20px;
  margin-left: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  white-space: nowrap;
}

.host__body__sub1 {
  width: 457.33px;
  height: 20px;
  margin-bottom: 10px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.host__body__sub2 {
  width: 456.53px;
  height: 45px;
  margin-bottom: 25px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.host__body__sub3 {
  width: 457.33px;
  height: 20px;
  margin: 0px 0px 16px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.host__body__sub4 {
  width: 457.33px;
  height: 20px;
  margin: 0px 0px 16px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.host__body__sub5 {
  width: 457.33px;
  height: 48px;
  margin: 32px 0px 25px;
}
.host__body__sub5__text {
  width: 195.42px;
  height: 48px;
  padding: 13px 23px;
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  border: 1px solid #222222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.host__body__sub5__text:hover {
  background-color: #f5f5f5; /* 마우스를 올렸을 때의 배경색 (원하는 색상으로 변경 가능) */
}

.host__body__sub6 {
  width: 300px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.host__body__sub6__text {
  width: 280px;
  height: 32px;
  margin-left: 15px;
  color: #222222;
  font-size: 12px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__background {
  width: 1120px;
  height: 314px;
  padding: 48px 0px;
}
.information__header {
  width: 1120px;
  height: 50px;
  padding: 0px 0px 24px;
  color: #222222;
  font-size: 24px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.information__body {
  width: 1087.98px;
  height: 168px;
  display: flex;
  align-items: center;
}

.information__body__box1 {
  width: 378.66px;
  height: 168px;
  padding: 0px 8px;
}

.information__body__box1__text1 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.information__body__box1__text2 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box1__text3 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box1__text4 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box1__text5 {
  width: 67.42px;
  height: 20px;
  margin-top: 24px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.information__body__box2 {
  width: 378.66px;
  height: 168px;
  padding: 0px 8px;
}

.information__body__box2__text1 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.information__body__box2__text2 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box2__text3 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box2__text4 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box2__text5 {
  width: 67.42px;
  height: 20px;
  margin-top: 24px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.information__body__box3 {
  width: 378.66px;
  height: 168px;
  padding: 0px 8px;
}

.information__body__box3__text1 {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.information__body__box3__text2 {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.information__body__box3__text3 {
  width: 67.42px;
  height: 20px;
  margin-top: 24px;
  color: #222222;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
/*------------------------------온라인체험 영역------------------------------------*/
.online-logo{
    margin: 8px -8px 8px 50px;
}
.online-container h1 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-left: 50px;
}
.online-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; /* 사진을 세로로 정렬 */
    align-items: flex-start; /* 가로 정렬 기준을 시작 부분에 맞춤 */
    margin-top: 30px;
    overflow-x: auto; /* 가로 스크롤을 허용하여 모든 사진을 볼 수 있도록 함 */
}
.containerBox {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin-bottom: 15px;
    margin-left: 50px;
    overflow: hidden;
}
.containerphoto {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 5px;
}
.containerphoto img {
    width: 590px;
    height: 332px;
    object-fit: cover;
}
.containerphotoCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.PhotoCoverText1,
.PhotoCoverText2 {
    color: white;
}
.PhotoCoverText1 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.PhotoCoverText2 {
    font-size: 22px;
    font-weight: 600px;
    line-height: 1.2;
    margin-top: 5px;
}
.PhotoCoverButton1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    touch-action: manipulation;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    color: black;
    transition: background-color 0.3s ease;
}
.PhotoCoverButton1:hover {
    background-color: #dee2e6;
}
.host_title{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 60px 150px 15px 50px;
}
.bogi{
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}
.categories-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-left: 50px;
}
.category{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
    font-size: 13.5px;
    cursor: pointer;
    transform: background-color 0.3s;
}
.category:hover{
    background-color: #f0f0f0;
}
.host_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 0 70px 0 50px;
    margin-bottom: 15px;
}
.host_img1 {
    background-image: url("images/host1.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.host_img2{
    background-image: url("images/host2.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.host_img3{
    background-image: url("images/host3.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.host_img4{
    background-image: url("images/host4.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.host_img5{
    background-image: url("images/host5.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.host_img6{
    background-image: url("images/host6.jpeg");
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
}
.info1{
    margin: 7px 0;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
}
.info2{
    font-size: 15px;
    font-weight: 350;
    color: black;
}
.info3{
    font-size: 16px;
    font-weight: 550;
    padding-top: 5px;
}